#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_h2ocoin
#build/h2ocoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_h2ocoin)

DEB_INSTALL_EXAMPLES_h2ocoind += debian/examples/*
DEB_INSTALL_MANPAGES_h2ocoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix h2ocoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f h2ocoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake h2ocoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_h2ocoin
	src/test_h2ocoin

# Ensure wrapper is set executable
binary-post-install/h2ocoind:
	chmod +x $(cdbs_curdestdir)usr/bin/h2ocoind
binary-post-install/h2ocoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/h2ocoin-qt
